.crossicon {
  content: url(./../../images/icon-cross.svg);
}
.crossdiv {
  padding: 1.5rem 0;
}
.quit-game {
  position: absolute;
  bottom: 5px;
}
.word-timer-container {
  flex: none;
  width:65%;
}