.svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.svg circle {
  stroke-width: 10px;
}
.svg-bg-circle {
  fill: none;
  stroke: #d9edfe;
}
.svg-main-circle {
  width: 100%;
  height: 100%;
  stroke-linecap: round;
}

@media all and (min-width: 1500px) and (min-height: 800px) {
  .svg {
    width: 250px;
    height: 250px;
  }
  .svg circle {
    stroke-width: 15px;
  }
}
